# PostgreSQL Database Connection String
# Format: postgres://USERNAME:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL=postgres://postgres:postgres@localhost:5432/wms_db

# Server Listening Port
PORT=3001
